<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#top">Back to top</a>
        </p>
        <p class="mb-1">This page was generated {{ now.Format "2006-01-02 15:04:05Z07:00" }}</p>
        <p class="mb-0">Source code can be found on <a href="https://github.com/leifgehrmann/ncn-milepost-openstreetmap-checker">Github.com</a>.</p>
    </div>

    <!-- JavaScript and dependencies -->

    {{ $jquery := resources.Get "js/jquery.min.js" }}
    {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
    {{ $dataTablesJquery := resources.Get "js/jquery.dataTables.min.js" }}
    {{ $dataTablesFixedHeader := resources.Get "js/dataTables.fixedHeader.min.js" }}
    {{ $js := slice $jquery $bootstrap $dataTablesJquery $dataTablesFixedHeader | resources.Concat "js/bundle.js" | resources.Minify }}

    <script src="{{$js.RelPermalink}}"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
    <script>
        document.onreadystatechange = function () {
            if (document.readyState === "interactive") {
                jQuery('#example thead tr').clone(true).appendTo( '#example thead' );
                jQuery('#example thead tr:eq(1) th').each( function (i) {
                    var title = jQuery(this).text();
                    jQuery(this).html( '<input type="text" placeholder="Search" class="form-control form-control-sm table-search"/>' );

                    jQuery( 'input', this ).on( 'keyup change', function () {
                        if ( table.column(i).search() !== this.value ) {
                            table
                                .column(i)
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );

                var table = jQuery('#example').DataTable({
                    "paging":   false,
                    "responsive": false,
                    "orderCellsTop": true,
                    "fixedHeader": true
                });

                jQuery('#showValidationColumns').appendTo(jQuery('#example_wrapper > .row:first-child > div:first-child')).show();
            }
        }
    </script>
</footer>
