<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css" media="screen">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.8/css/fixedHeader.dataTables.min.css" media="screen">

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/main.scss" | toCSS $options | minify }}

    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
    <link rel='icon' type='image/png' href='/favicon.png'>
</head>
